@font-face {
  font-family: "SF Pro Display";
  src: url("./fonts/SF-Pro-Text-Thin.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar Styles */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255); /* Slightly transparent white */
  /* border-bottom: 1px solid #e5e5e5; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 40px;
  z-index: 1000;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

/* Individual Link Styles */
.nav-links li {
  position: relative;
}

.nav-links li a {
  text-decoration: none;
  font-family: "SF Pro Display";
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.95);
  padding: 8px 10px;
  transition: background-color 0.5s, border-radius 0.5s;
}

/* Hover Effects */
.nav-links li a:hover {
  border-radius: 4px;
}

/* Make sure the dropdown parent is positioned relatively */
.nav-links li.dropdown {
  position: relative;
}

.nav-links li.dropdown {
  position: relative;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  min-width: 100%;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s ease;
  padding: 0;
}

.dropdown:hover .dropdown-content {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  padding: 10px 0;
}

.dropdown-content li {
  white-space: nowrap;
}

/* Dropdown Links */
.dropdown-content li a {
  text-decoration: none;
  color: black;
  display: block;
}

.head {
  font-family: "SF Pro Display";
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  text-align: right;
}

.bio {
  font-family: "SF Pro Display";
  font-size: 1rem;
  color: #333;
  text-align: right;
}

.image {
  padding-left: 60px;
}

.intro-content {
  display: flex;
  align-items: center;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  margin-top: 40px;
}

.intro-text {
  align-items: flex;
}

.profile-img {
  width: 24rem;
  height: 24rem;
  border-radius: 20%;
  object-fit: cover;
  flex-shrink: 0;
}

.intro-content > div {
  flex: 1;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}
